@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/Banner/7.png);
    background-position: right;
    position: relative;
    background-size: contain;
    position: relative;
    top: 100%;
}

.play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#eaf3ff 50%, rgba(0, 0, 0, 0.4) 52%);
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
}

.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #8e0101;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 3s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(108, 0, 0, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.play-btn:hover::after {
    border-left: 15px solid #fbfbfb;
    transform: scale(20);
}

.play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    visibility: hidden;
    display: none;
    opacity: 0;
    font-size: 1.8rem;
}

nav a {
    padding: 6px;
    font-size: 17px;
}

@media only screen and (min-width: 1025px) {
    header nav {
        width: 70%;
    }
    .support-contact {
        width: 20%;
    }
    header nav .nav-buttons {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 1024px) {
    .support-contact {}
    header .nav-btn {
        visibility: visible;
        display: flex;
        opacity: 1;
        color: #1B1B1B;
    }
    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        background-color: #2D4078;
        color: #fff;
        transition: 1s;
        transform: translateY(-100vh);
    }
    header nav .nav-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    header nav .nav-buttons a {
        padding: 20px;
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
    }
    header nav .nav-buttons a:hover {
        background-color: #1d2a50;
    }
    header .responsive_nav {
        transform: none;
    }
    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: #fff;
        border: 3px solid #fff;
        border-radius: 100%;
    }
}

@keyframes cortina {
    0% {
        background-size: 100% 0;
    }
    100% {
        background-size: 100% 100%;
    }
}

.card :hover {
    background: linear-gradient(to bottom, #3498db, #2c3e50);
    /* Cores do gradiente */
    animation: cortina 1s ease-in-out
}

.solution-card1,
.solution-card2,
.solution-card3,
.solution-card4v {
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 200px 200px 300px 200px rgba(0, 0, 0, 0.5);
}

.solution-card1:hover {
    background-image: url(assets/Solutions/Card/solution1.jpg);
}

.solution-card2:hover {
    background-image: url(assets/Solutions/Card/solution2.jpg);
}

.solution-card3:hover {
    background-image: url(assets/Solutions/Card/solution3.jpg);
}

.solution-card4:hover {
    background-image: url(assets/Solutions/Card/solution4.jpg);
}

.macro {
    background-image: url(https://macroconsulting.pt/wp-content/uploads/2022/03/controlo-de-gestao-consultoria-controlo-de-gestao-macro-consulting.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.about-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/Banner/about.jpg);
    background-position: center;
    box-shadow: inset 200px 200px 300px 200px rgba(0, 0, 0, 0.5);
}

.contact-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/Banner/contact.jpg);
    background-position: center;
    box-shadow: inset 200px 200px 300px 200px rgba(0, 0, 0, 0.5);
}


/* .service {
    background-image: url(assets/lines.png);
    background-position: right;
    background-repeat: no-repeat;
} */